{% extends 'crm/base.html' %}
{% load static %}

{% block content %}
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Перемещения</h4>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Добавить новый перемещения</h4>
                </div>
                <div class="card-body">
                    {% include 'crm/layouts/item_create.html' %}
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Все перемещения</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% include 'crm/layouts/item_list_table.html' with update_action="movement_update" delete_action="movement_delete" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}