{% extends 'crm/base.html' %}
{% load static %}
{% load widget_tweaks custom_tags %}

{% block content %}
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Список необработанных платежей</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-responsive-md">
                        <thead>
                        <tr>
                            <th><strong>#</strong></th>
                            <th><strong>Клиент</strong></th>
                            <th><strong>Дата</strong></th>
                            <th><strong>Принял</strong></th>
                            <th><strong>Тип оплаты</strong></th>
                            <th><strong>Сумма</strong></th>
                            <th><strong>Действие</strong></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for payment in payments %}
                            <tr>
                                <td><strong>{{ payment.id }}</strong></td>
                                <td>{{ payment.counter_party_name }}</td>
                                <td>{{ payment.created }}</td>
                                <td>{{ payment.user.username }} | {{ payment.user.get_user_type_display }}</td>
                                <td>{{ payment.get_payment_method_display }}</td>
                                <td>{{ payment.amount|to_local }} сум</td>
                                <td>
                                    <div class="d-flex">
                                        <form method="POST" action="{% url 'payment_action' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="payment_id" value="{{ payment.id }}">
                                            <input type="hidden" name="action" value="payment_accept">
                                            <button type="submit" class="btn btn-success shadow btn-xs sharp"><i
                                                    class="fa fa-arrow-down"></i></button>
                                        </form>
                                        <form method="POST" action="{% url 'payment_action' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="payment_id" value="{{ payment.id }}">
                                            <input type="hidden" name="action" value="payment_reject">
                                            <button type="submit" class="btn btn-danger shadow btn-xs sharp ml-2"><i
                                                    class="fa fa-trash"></i></button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7" class="text-center">Пусто</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if order.status == 'created' %}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Добавить Товар</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'order_actions' order.id %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Категория Товар</label>
                                    <select name="warehouse" class="form-control product_category_select" required>
                                        <option value="" selected disabled>----</option>
                                        {% for i in product_categories %}
                                            <option value="{{ i.id }}">{{ i.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Склад Товары</label>
                                    <select id="warehouse_product_id" name="warehouse_product_id"
                                            class="form-control product_select" required>
                                        <option value="" selected disabled>----</option>
                                        {% for i in warehouse_products %}
                                            <option class="products product_category_{{ i.product.category_id }}"
                                                    value="{{ i.id }}">
                                                {{ i.product }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Количество</label>
                                    <input name="count" type="number" min="0" class="form-control" required>
                                </div>
                                <div class="col-md-3">
                                    <label>Сумма</label>
                                    <input name="price" type="number" min="0" class="form-control" required>
                                </div>
                                <div class="col-md-2 mt-5">
                                    <input type="hidden" name="action" value="add_order_item">
                                    <button type="submit" class="btn btn-primary">Добавить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% elif order.status == 'accepted' %}
            <div class="col-lg-12">
                <div class="card">
                    <form method="POST" action="{% url 'order_actions' order.id %}">
                        <div class="card-header row">
                            <div class="col-12 row align-items-between mx-0 px-0">
                                <div class="col">
                                    <h4 class="card-title">Накладной №{{ invoice.id }}</h4>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-sm btn-success" onclick="print_invoice({{ invoice.id }})"
                                            type="button">Печатать
                                    </button>
                                    <a href="{% url 'invoice_excel_download' invoice.id %}" class="btn btn-sm btn-info">Сохранить
                                        как Excel</a>
                                </div>
                            </div>
                            {% csrf_token %}
                            <div class="col-4 mt-3">
                                <label for="invoice_provider_id">Поставщик:</label>
                                <select class="form-control" name="invoice_provider_id">
                                    <option value="" disabled selected>---</option>
                                    {% for invoice_provider in invoice_providers %}
                                        <option value="{{ invoice_provider.id }}"
                                                {% if invoice_provider.id == invoice.invoice_provider.id %}
                                                selected
                                                {% endif %}>
                                            {{ invoice_provider.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4 mt-3">
                                <label for="invoice_discount_id">Скидка:</label>
                                <input name="invoice_discount" id="invoice_discount_id" type="number" step="any"
                                       required class="form-control" value="0">
                            </div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="action" value="change_invoice_item_counts">
                            {% setvar 0 as total_count_p %}
                            {% setvar 0 as total_count_kg %}
                            <table class="table table-responsive-md">
                                <thead>
                                <tr>
                                    <th><strong>#</strong></th>
                                    <th><strong>Наименования товаров</strong></th>
                                    <th><strong>Кол-во</strong></th>
                                    <th><strong>Ед. изм.</strong></th>
                                    <th><strong>Цена</strong></th>
                                    <th><strong>Цена со скидкой</strong></th>
                                    <th><strong>Сумма</strong></th>
                                    <th><strong>Сумма со скидкой</strong></th>
                                    {% if order.status == 'created' %}
                                        <th><strong>Действие</strong></th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in invoice_items %}
                                    <tr>
                                        {% if item.order_item.warehouse_product.product.unit_type == 'piece' %}
                                            {% setvar total_count_p|plus:item.count as total_count_p %}
                                        {% else %}
                                            {% setvar total_count_kg|plus:item.count as total_count_kg %}
                                        {% endif %}
                                        <td><strong>{{ forloop.counter }}</strong></td>
                                        <td>{{ item.order_item.warehouse_product.product.title }}</td>
                                        <td><input class="form-control invoice_item_count" onchange="calcCount()"
                                                   data-unit-type="{{ item.order_item.warehouse_product.product.unit_type }}"
                                                   name="invoice_item_{{ item.id }}_count"
                                                   type="number" step="any" value="{{ item.count }}"></td>
                                        <td>{{ item.order_item.warehouse_product.product.get_unit_type_display }}</td>
                                        <td>{{ item.order_item.warehouse_product.product.price }} сум</td>
                                        <td>{{ item.order_item.warehouse_product.product.show_price }} сум</td>
                                        <td>{{ item.count|mul:item.order_item.warehouse_product.product.price }} сум
                                        </td>
                                        <td>{{ item.total }} сум</td>
                                        {% if order.status == 'created' %}
                                            <td>
                                                <div class="d-flex">
                                                    <form method="POST" action="{% url 'order_actions' order.id %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="warehouse_product_id"
                                                               value="{{ item.id }}">
                                                        <input type="hidden" name="action" value="delete_order_item">
                                                        <button type="submit"
                                                                class="btn btn-danger shadow btn-xs sharp"><i
                                                                class="fa fa-trash"></i></button>
                                                    </form>
                                                </div>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="9" class="text-center">Пусто</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td>Итог:</td>
                                    <td id="total_count"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ invoice.total_without_discount }}</td>
                                    <td>{{ invoice.total }}</td>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="col-12 d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>{% elif order.status == 'delivered' %}
            <div class="col-lg-12">
                <div class="card">
                    <form method="POST" action="{% url 'order_actions' order.id %}">
                        {% csrf_token %}
                        <div class="card-header row">
                            <div class="col-12 row align-items-between mx-0 px-0">
                                <div class="col">
                                    <h4 class="card-title">Список возвратов</h4>
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="action" value="return_items_acceptance">
                            <table class="table table-responsive-md">
                                <thead>
                                <tr>
                                    {% setvar 0 as total_count_p %}
                                    {% setvar 0 as total_count_kg %}
                                    <th><strong>#</strong></th>
                                    <th><strong>Наименования товаров</strong></th>
                                    <th><strong>Кол-во</strong></th>
                                    <th><strong>Ед. изм.</strong></th>
                                    <th><strong>Цена</strong></th>
                                    <th><strong>Сумма</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in return_items %}
                                    <tr>
                                        {% if item.warehouse_product.product.unit_type == 'piece' %}
                                            {% setvar total_count_p|plus:item.count as total_count_p %}
                                        {% else %}
                                            {% setvar total_count_kg|plus:item.count as total_count_kg %}
                                        {% endif %}
                                        <td><input type="checkbox" name="return_item_{{ item.id }}"></td>
                                        <td>{{ item.warehouse_product.product.title }}</td>
                                        <td><input class="form-control return_item_count"
                                                   onchange="calcReturnItem(this)"
                                                   data-id="{{ item.id }}"
                                                   data-unit-type="{{ item.warehouse_product.product.unit_type }}"
                                                   name="return_item_{{ item.id }}_count"
                                                   type="number" step="any" value="{{ item.count }}"></td>
                                        <td>{{ item.warehouse_product.product.get_unit_type_display }}</td>
                                        <td><input class="form-control return_item_price"
                                                   onchange="calcReturnItem(this)"
                                                   data-id="{{ item.id }}"
                                                   data-unit-type="{{ item.warehouse_product.product.unit_type }}"
                                                   name="return_item_{{ item.id }}_price"
                                                   type="number" step="1" value="{{ item.price }}"></td>
                                        <td><input class="form-control return_item_total"
                                                   onchange="calcReturnItem(this)"
                                                   data-id="{{ item.id }}" readonly
                                                   data-unit-type="{{ item.warehouse_product.product.unit_type }}"
                                                   name="return_item_{{ item.id }}_total"
                                                   type="number" step="1" value="{{ item.total }}"></td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center">Пусто</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td>Итог:</td>
                                    <td id="total_count"></td>
                                    <td></td>
                                    <td></td>
                                    <td id="total">{{ return_items_total }}</td>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="col-12 d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Принять</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        function calcReturnItem(elem = undefined) {
            let return_items_count_tags = document.querySelectorAll('.return_item_count');
            let total_count_kg = 0;
            let total_count_p = 0;
            for (let item of return_items_count_tags) {
                if (item.getAttribute('data-unit-type') === 'kg') {
                    total_count_kg += +item.value
                } else {
                    total_count_p += +item.value
                }
            }

            if (elem) {
                let return_item_id = +elem.getAttribute('data-id');
                document.querySelector(`input[name=return_item_${return_item_id}_total]`).value =
                    +document.querySelector(`input[name=return_item_${return_item_id}_count]`).value *
                    +document.querySelector(`input[name=return_item_${return_item_id}_price]`).value;
            }

            let total = 0;
            let invoice_items_total_tags = document.querySelectorAll('.return_item_total');
            for (let item_total of invoice_items_total_tags) {
                total += +item_total.value
            }
            console.log(total.toLocaleString());
            document.getElementById('total_count').textContent = `${total_count_kg} кг/${total_count_p} шт`;
            document.getElementById('total').textContent = `${total.toLocaleString()} сум`;
        }

        function calcCount() {
            let invoice_items_count_tags = document.querySelectorAll('.invoice_item_count');
            let total_count_kg = 0;
            let total_count_p = 0;
            for (let item of invoice_items_count_tags) {
                if (item.getAttribute('data-unit-type') === 'kg') {
                    total_count_kg += +item.value
                } else {
                    total_count_p += +item.value
                }
            }
            document.getElementById('total_count').textContent = `${total_count_kg} кг/${total_count_p} шт`
        }

        $(document).ready(() => {
            calcCount();
            calcReturnItem();
        });
        $('.product_category_select').on('change', function () {
            let id = this.value;
            $('.dropdown-toggle').click();
            $('.products').addClass('d-none');
            $('#warehouse_product_id').val('').change();
            setTimeout(function () {
                $('.product_category_' + id).removeClass('d-none')
            }, 500)
        })

        async function print_invoice(id) {
            let print_url = "{% url 'order_invoice_print_ajax' %}";
            let total = 0;
            let total_without_discount = 0;
            let total_count = 0;

            let header = ``;
            let body = ``;

            await fetch(print_url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'id': id}),
            }).then(response => response.json())
                .then(data => {
                    // console.log(data['data_0'][0]['invoice_provider__address'])
                    let print_logo = data['data_0'][0]['invoice_provider__logo'];
                    header += `
                    <div>
                        <div class="text-center mb-4">
                            <h2>Товарная накладная №: ${data['data_0'][0]['id']} Дата: ${data['data_0'][0]['created'].split("T")[0]}</h2>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <h3>Поставщик: ${data['data_0'][0]['invoice_provider__name']}</h3>
                                <h3>Адрес: ${data['data_0'][0]['invoice_provider__address']}</h3>
                                <h3>Телефон: ${data['data_0'][0]['invoice_provider__phone_number']}</h3>

                                <div style="width: 200px; height: 70px;">
                                    <img src="./media/${print_logo}" alt="invoice_provider_logo">
                                </div>
                            </div>
                            <div class="col-5">
                                <h3><b>Получатель: ${data['data_0'][0]['order__counter_party__full_name']}</b></h3>
                                <h3>Адрес: ${data['data_0'][0]['order__counter_party__address']}</h3>
                                <h3>Телефон: ${data['data_0'][0]['order__counter_party__phone_number']}</h3>

                                <button class="px-5" style="background-color: #eee;">
                                    <h2>
                                        <b><u>
                                            Долг: ${data['data_0'][0]['total']}
                                        </b></u>
                                    </h2>
                                </button>
                            </div>
                        </div>
                    </div>
                    <table border="1" class="table">
                        <thead>
                            <tr style="background-color: #eee;">
                                <th>№</th>
                                <th>Наименования товаров</th>
                                <th>Кол-во</th>
                                <th>Ед. изм.</th>
                                <th>Цена</th>
                                <th>Цена со скидкой</th>
                                <th>Сумма</th>
                                <th>Сумма со скидкой</th>
                            </tr>
                        <tbody>
                `

                    for (let i = 0; i < data['data_1'].length; i++) {
                        // console.log(data['data_1'][i])
                        total_without_discount += data['data_1'][i]['total_without_discount']
                        total_count += data['data_1'][i]['count']
                        total += data['data_1'][i]['total']
                        if (data['data_1'][i]['order_item__warehouse_product__product__unit_type'] === 'piece') {
                            data['data_1'][i]['order_item__warehouse_product__product__unit_type'] = 'Шт'
                        } else {
                            data['data_1'][i]['order_item__warehouse_product__product__unit_type'] = 'Кг'
                        }
                        let forloop_counter = 1;
                        if (i != 0) {
                            forloop_counter = i;
                        }
                        body += `
                        <tr>
                            <td>${forloop_counter}</td>
                            <td>${data['data_1'][i]['order_item__warehouse_product__product__title']}</td>
                            <td class="text-center">${data['data_1'][i]['count']}</td>
                            <td>${data['data_1'][i]['order_item__warehouse_product__product__unit_type']}</td>
                            <td>${data['data_1'][i]['order_item__warehouse_product__product__price']}</td>
                            <td class="text-center">${data['data_1'][i]['order_item__warehouse_product__product__show_price']}</td>
                            <td>${data['data_1'][i]['total_without_discount']}</td>
                            <td class="text-center">${data['data_1'][i]['total']}</td>
                        </tr>
                    `
                    }
                })
            let footer = `
                    <tr>
                        <td></td>
                        <td class="text-center"><h4><b>Итого:</b></h4></td>
                        <td class="text-center"><h4><b>${total_count}</b></h4></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: #eee;"><h4>${total_without_discount}</h4></td>
                        <td class="text-center" style="background-color: #eee;"><h4><b>${total}</b></h4></td>
                    </tr>
                    <tr style="background-color: #eee;">
                        <td colspan="8">
                            <h4><b>Сумма со словами</b></h4>
                        </td>
                    </tr>
                    </tbody>
                    </thead>
                </table>
                <div class="row mt-5">
                    <div class="col-6">
                        <b>
                            Отправил______________________________
                        </b>
                    </div>
                    <div class="col-6">
                        <b>
                            Получил_______________________________  
                        </b>
                    </div>
                </div>
            `
            let template = header + body + footer;
            document.body.innerHTML = template;
            window.print();
            window.location.reload();
        }
    </script>
{% endblock %}