/*
-----------------------------------------------------------------------
  Footer CSS
-----------------------------------------------------------------------
*/

.footer-area {
  background: $black-0f;
  padding: 60px 0 0;
  @media #{$md-device} {
    padding: 45px 0 0;
  }

  p {
    color: #ffffff80;
    font-size: 14px;
    line-height: 20px;
  }

  .about-widget {
    align-items: flex-end;
    display: flex;
    @media #{$md-device} {
      margin-bottom: 20px;
    }
    @media #{$xs-device} {
      display: block;
    }

    .inner-content {
      max-width: 220px;
      margin-right: 30px;
      @media #{$xs-device} {
        margin-right: 0;
        margin-bottom: 20px;
      }

      .footer-logo {
        margin-bottom: 22px;
      }
    }

    .widget-desc {
      max-width: 330px;
    }
  }

  .widget-menu-wrap {
    .nav-menu {
      display: flex;
      flex-wrap: wrap;
      padding-top: 15px;
      @media #{$md-device} {
        margin-bottom: 0;
      }

      li {
        margin-bottom: 15px;
        padding-right: 30px;
        width: 33.33%;
        @media #{$xs-device} {
          width: 40%;
        }
        @media #{$xxs-device} {
          padding-right: 0;
        }

        a {
          color: $white;
          font-size: 14px;
          display: block;
          line-height: 24px;

          &:hover {
            color: $theme-color;
            padding-left: 10px;
          }
        }
      }
    }
  }

  .footer-bottom {
    background: #1f1f1f;
    padding: 23px 0 18px;
    @media #{$md-device} {
      text-align: center;
    }

    .copyright {
      i {
        color: $theme-color;
        font-size: 12px;
        margin: 0 5px;
      }

      a {
        color: #ffffff9e;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;

        &:hover {
          color: $theme-color;
        }
      }
    }

    .payment {
      text-align: right;
      @media #{$md-device} {
        margin-top: 15px;
        text-align: center;
      }
    }
  }
}