{% extends 'crm/base.html' %}
{% load widget_tweaks %}
{% load custom_tags static %}

{% block content %}
    <div class="row">
        <div class="card col-12 col-md-10 px-0">
            <div class="card-header">
                <h4 class="">Агенты</h4>
            </div>
            <div class="card-body">
                <div id="map" style="height: 400px"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>" type="text/javascript"></script>
    <script>
        let myMap;
        ymaps.ready(function () {
            myMap = new ymaps.Map('map', {
                center: [39.672281, 67.335682],
                zoom: 9
            }, {
                searchControlProvider: 'yandex#search'
            });

            // Создаём макет содержимого.
            MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                '<p class="text-center bg-primary" style="border-radius: 50px; color: #fff; font-weight: bold; width: 100px;">$[properties.iconContent]</p>'
            )
        });
    </script>

    <script type="module">
        import {initializeApp} from "https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js";
        import {
            getDatabase,
            ref,
            onValue,
            get,
            set
        } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-database.js";

        const firebaseConfig = {
            apiKey: "AIzaSyBa6FMte1g2_363ugaIo_eFNBhTIdyyTWQ",
            authDomain: "kolbasa-4f744.firebaseapp.com",
            databaseURL: "https://kolbasa-4f744-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "kolbasa-4f744",
            storageBucket: "kolbasa-4f744.appspot.com",
            messagingSenderId: "356758906555",
            appId: "1:356758906555:web:eee62c6621b87cd187ab9e",
            measurementId: "G-XEQ3WR82YW"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);

        function checkingGeoPosition() {
            let users = ref(db, 'users/')
            get(users).then(snapshot => {
                let data = snapshot.val();
                console.log(data)
                for (let _userId in data) {
                    if (_userId === 'endpoint') continue
                    console.log(new Date(data[_userId]['last_time']) < new Date(+(new Date()) - 5 * 1000))
                    if (new Date(data[_userId]['last_time']) < new Date(+(new Date()) - 5 * 1000)) {
                        set(ref(db, 'users/' + _userId), null)
                    }
                }
            })
        }

        let db = getDatabase(app);
        let markers = {};
        setInterval(checkingGeoPosition, 10000)
        checkingGeoPosition()
        const test = ref(db, 'users/');
        onValue(test, (snapshot) => {
            let data = snapshot.val();
            myMap.geoObjects.removeAll()
            for (let user_id in data) {

                if (user_id === 'endpoint') continue
                if (!markers[user_id]) {
                    markers[user_id] = data[user_id];
                    markers[user_id]['map_marker'] = new ymaps.Placemark(markers[user_id]['marker'], {
                        hintContent: markers[user_id]['region'],
                        balloonContent: markers[user_id]['fullname'] + ' - ' + markers[user_id]['username'],
                        iconContent: markers[user_id]['username']
                    }, {
                        // Опции.
                        // Необходимо указать данный тип макета.
                        iconLayout: 'default#imageWithContent',
                        // Своё изображение иконки метки.
                        iconImageHref: '{% static 'crm/images/map-marker-icon.png' %}',
                        // Размеры метки.
                        iconImageSize: [24, 24],
                        // Смещение левого верхнего угла иконки относительно
                        // её "ножки" (точки привязки).
                        iconImageOffset: [-12, -12],
                        // Смещение слоя с содержимым относительно слоя с картинкой.
                        iconContentOffset: [-35, -25],
                        // Макет содержимого.
                        iconContentLayout: MyIconContentLayout
                    });
                    myMap.geoObjects
                        .add(markers[user_id]['map_marker']);
                } else if (markers[user_id]['marker']) {
                    myMap.geoObjects.remove(markers[user_id]['map_marker']);
                    markers[user_id] = data[user_id];
                    markers[user_id]['map_marker'] = new ymaps.Placemark(markers[user_id]['marker'], {
                        hintContent: markers[user_id]['region'],
                        balloonContent: markers[user_id]['fullname'] + ' - ' + markers[user_id]['username'],
                        iconContent: markers[user_id]['username']
                    }, {
                        // Опции.
                        // Необходимо указать данный тип макета.
                        iconLayout: 'default#imageWithContent',
                        // Своё изображение иконки метки.
                        iconImageHref: '{% static 'crm/images/map-marker-icon.png' %}',
                        // Размеры метки.
                        iconImageSize: [24, 24],
                        // Смещение левого верхнего угла иконки относительно
                        // её "ножки" (точки привязки).
                        iconImageOffset: [-12, -12],
                        // Смещение слоя с содержимым относительно слоя с картинкой.
                        iconContentOffset: [-35, -25],
                        // Макет содержимого.
                        iconContentLayout: MyIconContentLayout
                    });
                    myMap.geoObjects.add(markers[user_id]['map_marker']);
                }
            }
            for (let user_id in markers) {
                if (user_id === 'endpoint') continue
                if (!Boolean(data[user_id])) {
                    markers[user_id]['map_marker'] = new ymaps.Placemark(markers[user_id]['marker'], {
                        hintContent: markers[user_id]['region'],
                        balloonContent: markers[user_id]['fullname'] + ' - ' + markers[user_id]['username'],
                        iconContent: markers[user_id]['username']
                    }, {
                        // Опции.
                        // Необходимо указать данный тип макета.
                        iconLayout: 'default#imageWithContent',
                        // Своё изображение иконки метки.
                        iconImageHref: '{% static 'crm/images/map-marker-icon.png' %}',
                        // Размеры метки.
                        iconImageSize: [0, 0],
                        // Смещение левого верхнего угла иконки относительно
                        // её "ножки" (точки привязки).
                        iconImageOffset: [-12, -12],
                        // Смещение слоя с содержимым относительно слоя с картинкой.
                        iconContentOffset: [-35, -25],
                        // Макет содержимого.
                        iconContentLayout: MyIconContentLayout
                    });
                    myMap.geoObjects.remove(markers[user_id]['map_marker']);
                }
            }
            {#let myPlacemarkWithContent = YaMarker();#}
            {#myMap.geoObjects.add(myPlacemarkWithContent)#}
        })
    </script>
{% endblock extra_js %}